html {
    background-color: hsla(0, 0%, 15%, 1);
    background: repeating-linear-gradient(hsla(0, 0%, 20%, 1),hsla(0, 0%, 15%, 1));
    background-repeat: repeat;
    background-attachment: fixed;
}

body {
    color: #FFF;
    font-family:Arial, sans-serif;
    font-weight:bold;
    height:100%;
    width:100%;
    margin:0;
    padding:0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

nav {
    background: hsl(0, 60%, 10%);
    background: linear-gradient(hsl(0, 30%, 20%), hsl(0, 30%, 10%));
    color: hsl(0, 0%, 90%);
    display: block;
    margin:0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: hidden;
    font-size:1.5em;
    margin-bottom:1em;
    /*background-image: url("logo.png");
    background-position: left;
    background-size:contain;
    background-repeat: no-repeat;*/
    /*box-shadow: 0 2px 4px hsla(0, 0%, 20%, 0.5)*/
}

nav ul {
    margin: 0;
    padding: 0 0 0 1em;
    float:left;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    color: #FFF;
    display: block;
    padding: 0 1em 0 0;
    text-decoration: none;
}

footer {
    display: block;
    margin:0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: hidden;
    font-size:1em;
    margin-top:2em;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
}

footer > ul > li > a {
    color: #fff;
}

footer
ul li:first-child {
    float: left;
}

footer
ul li:last-child {
    float: right;
}

section.list {
    color: hsl(0, 60%, 10%);
    margin-top: 2em;
    width: 80%;
    max-width:80%;
    margin: 0 auto;
    padding: 1em 2em;
    /*border-left: 2px solid hsla(0, 60%, 20%, 0);*/
    /*transition: border 0.1s linear;*/
}

/*section.list:hover {
    border-left: 2px solid hsla(0, 60%, 20%, 1);
}*/

/* Loading icon */

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-ring-big div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #e6e6e6 transparent #e6e6e6 transparent;
    animation: lds-dual-ring 1.3s linear infinite;
    transition: all 0.3s ease-in-out;
}
.loading-ring-big {
    width: 50px;
    height: 50px;
}

.loading-ring-small div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    border-color: #e6e6e6 transparent #e6e6e6 transparent;
    animation: lds-dual-ring 1.3s linear infinite;
    transition: all 0.3s ease-in-out;
}

.loading-ring-small {
    width: 25px;
    height: 25px;
}

/*------
# Pincode
----*/

.cell {
    width: 100%;
    text-align: center;
}


#message {
    color: hsla(0, 100%, 60%, 1);
    min-height: 1.25em;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    margin-top: 2em;
}

#message.show {
    opacity: 1;
}

#status {
    height: 2em;
    width: 50px;
    text-align: center;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

#status.load {opacity: 1}

#numbers {
    max-width: 300px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    display: block;
    transition: all 0.5s ease-out;
    opacity: 1;
}

#numbers.load {
    opacity: 0.3;
}

#numbers.load button {
    transform: scale(1);
    background-color: hsl(0, 0%, 90%);
}

.cell button {
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 0.5em;
    background-color: hsl(0, 0%, 90%);
    border: 0;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    border-radius: 100%;
    opacity: 1;
    outline: 0;
    transition: all 0.1s linear;
}

.cell button:hover {
    transform: scale(1.05);
    background-color: hsl(0, 0%, 100%);
}

.cell button:active {
    transform: scale(0.95);
    background-color: hsl(0, 0%, 60%);
}


#fields {
    max-width: 12em;
    margin: 1em auto 2em auto;
}

#fields .numberfield span {
    height: 10px;
    width: 10px;
    border: 2px solid hsl(0, 0%, 90%);
    background-color: transparent;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all 0.2s ease;
}

#fields .numberfield.active span {
    background-color: hsl(0, 0%, 90%);
}

#fields .numberfield.load span {
    background-color: hsla(0, 0%, 90%, 0.3);
    border-color: hsla(0, 0%, 90%, 0);
    transition: all .2s ease-in-out;
}


/*------
# Toast Grid
----*/

.grid__col--1-of-3,
.grid__col--2-of-6,
.grid__col--4-of-12 {
    width: 33.33333%;
}

.grid__col--1-of-4,
.grid__col--2-of-8,
.grid__col--3-of-12 {
    width: 25%;
}

.grid__col {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    padding: 0 1em;
    vertical-align: top;
}

.grid__col--centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid__col--d-first {
    float: left;
}

.grid__col--d-last {
    float: right;
}

.grid--no-gutter {
    margin-left: 0;
    width: 100%;
}

.grid--no-gutter .grid__col {
    padding-left: 0;
}

.grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%;
}

.grid__col--ab {
    vertical-align: bottom;
}

.grid__col--am {
    vertical-align: middle;
}

/* list */
section.list h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

section.list ul.cards {
    margin: 1em 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

section.list ul.cards li {
    flex-basis: auto;
    padding: 0;
    height: 10em;
    width: 8em;
    margin: 0em 1em;
}

section.list ul.cards li div.profile {
    margin: 0 0 0.5em 0;
    padding: 0;
    width: 100%;
    height: 8em;
    border-radius: 1em;
    background-image: url(https://s.gravatar.com/avatar/c1413644dbcd7152d70b0ab2ea14c953?s=120);
    background-repeat: no-repeat;
    background-size: contain;
}

section.list ul.cards li div.name {
    margin: 0;
    height: 1.5em;
    width: 100%;
    text-align: center;
}

section.activity {
    max-width: 360px;
    margin: 0 auto;
    display: none;
    color: hsl(0, 40%, 20%);
    padding: 1em 1em;
    background-color: hsl(0, 0%, 80%);
    border-radius: 0.5em;
    box-shadow: inset 0px 2px 4px hsla(0, 30%, 30%, 0.3)
}

section.activity ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.activity ul li {
    cursor: pointer;
}

section.activity ul li:hover {
    color: hsla(0, 40%, 20%, 0.6);
}
section.activity ul li:active {
    color: hsla(0, 60%, 30%, 1);
}

section.activity ul li span.time {
    color: hsla(0, 40%, 20%, 0.6);
    margin-right: 1em;
}
/* list */

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    margin: auto;
    width: 100%;
}
.tg td{
    vertical-align: middle;
    font-family:Arial, sans-serif;
    font-size:1.5em;
    padding:0.1em 0.1em;
    border-style:solid;
    border-width:1px;
    overflow:visible;
    word-break:normal;
}
.tg tr td:last-child{width: 5.5em;min-width:6em;}
.tg th{font-size:1.5em;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    border-color: #000;
    background-color:light-grey;
    overflow:hidden;
    word-break:normal;
    text-align: left;
    background-color: #000;
    color:#FFF;
}
.tg tr:nth-child(even) {background-color: #EEE}
.tg tr:nth-child(odd) {background-color: #FFF}

.round-button-circle {
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    border:0px;
    overflow:hidden;
    margin:auto;
    background-color: #000;
    color: #fff;
}
.round-button-circle:hover, .round-button-circle:active {
    cursor: pointer;
}
.round-button-circle a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#fff;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
}
.round-left {
    margin-left:0.5em;
    float:left;
}
.num-input {
    float: left;
    width: 3em;
    font-size: inherit;
    margin-top:0.15em;
    margin-left:0.2em;
}

#plus-amount {
    width: 3em;
    font-size: inherit;
}

p#load-message {display:none;}

div.round-loading {
    display: none;
    background-color: transparent;
    background-image: url('ring.gif');
    background-position: center;
    background-size:cover;
}
div.round-loading:hover {
    background-color: transparent;
    background-image: url('ring.gif');
    background-position: center;
    background-size:cover;
}
div.round-loading:active {
    background-color: transparent;
    background-image: url('ring.gif');
    background-position: center;
    background-size:cover;
}
div.round-loading a {
    color: #000;
}

div.settings {
    padding: 2em;
}

div.settings input {
    font-size:1em;
}
#sparat-text {
    margin-left:1em;
    font-size:1em;
    font-weight:normal;
}

#comment {width:100%}

td.commentRow {
    font-weight: normal;
    text-align: left;
}
td.commentRow p {
    width:100%;
    font-size: inherit;
    font-weight: inherit;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
td.commentRow select {
    font-size: inherit;
    font-weight: inherit;
    width:5em;
}

.cross {
    margin-right: 0.5em;
    /* float: right; */
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.confirmBox {
    margin: auto;
    overflow: auto;
    padding-top: 0.5em;
    float: right;
}

.left-box-plus {
    float:left;
    width:60%;
    padding:0.5em;
}

.info {
    font-weight:normal;
    font-family:Consolas;
}

@media only screen and (max-width: 750px) {
    footer > ul > li:first-child {
        float: none;
    }
    footer > ul > li:last-child {
        float:none;
    }
}
@media only screen and (max-width: 750px) and (min-width: 560px) {
    footer{font-size:1.2em;}
}

@media only screen and (max-width: 560px) and (min-width: 480px) {
    .tg th{font-size:1.2em !important;}
    .tg td{font-size:1.2em !important;}
    nav{font-size:1.5em;}
    footer{font-size:1em;}
}

@media only screen and (max-width: 480px) and (min-width: 360px) {
    .tg th{font-size:1em !important;}
    .tg td{font-size:1em !important;}
    nav{font-size:1em;}
    footer{font-size:0.8em;}
    .table-button:nth-last-child(-n+2){display:none;}


}


@media only screen and (max-width: 480px) {
    section.list {
        width: 100%;
        max-width: 100%;
    }
    section.activity {
        max-width: 100%;
        border-radius: 0;
        box-shadow: inset 0px 2px 4px hsla(0, 30%, 30%, 0.3)
    }
}

@media only screen and (max-width: 360px) and (min-width: 300px){
    .tg th{font-size:1em !important;}
    .tg td{font-size:1em !important;}
    nav{font-size:1em;}
    footer{font-size:0.6em;}
    .table-button:nth-last-child(-n+3){display:none;}
}
@media only screen and (max-width: 300px) and (min-width: 260px){
    .tg th{font-size:1em !important;}
    .tg td{font-size:1em !important;}
    nav{font-size:0.8em;}
    footer{font-size:0.5em;}
    .table-button {display:none;}
}
@media only screen and (max-width: 260px) and (min-width: 0px){
    .tg th{font-size:1em !important;}
    .tg td{font-size:1em !important;}
    nav{font-size:0.8em;}
    footer{font-size:0.4em;}
    /*.tg tr td:last-child {
    min-width: unset;
    float: unset;
    }*/
    nav ul li {
        display: list-item;
        list-style-type: none;
    }
    body {font-size:0.8em;}
    .list {overflow:scroll;}
    .table-button {display:none;}

}
