body {
    margin:0.5em;
    font-family:Arial, sans-serif;
    font-weight:bold;
}
nav {
    background-color: #000;
    color: #fff;
    display: block;
    margin:0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: hidden;
    font-size:2em;
    margin-bottom:1em;
    background-image: url("logo.png");
    background-position: left;
    background-size:contain;
    background-repeat: no-repeat;
    border: 0.5em solid #000;
}

nav ul {
    margin: 0;
    padding: 0;
    float:right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    color: #fff;
    display: block;
    padding: 0em 1em;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #fff;
    display: block;
    margin:0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: hidden;
    font-size:1em;
    margin-top:2em;
    border: 0.5em solid #000;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
}

footer > ul > li > a {
    color: #fff;
}

footer
 ul li:first-child {
    float: left;
}

footer
 ul li:last-child {
    float: right;
}

.list {width:100%;max-width:100%;}
.tg  {
    border-collapse:collapse;
    border-spacing:0;
    margin: auto;
    width: 100%;
    }
.tg td{
    vertical-align: middle;
    font-family:Arial, sans-serif;
    font-size:1.5em;
    padding:0.1em 0.1em;
    border-style:solid;
    border-width:1px;
    overflow:visible;
    word-break:normal;
    }
.tg tr td:last-child{width: 5.5em;min-width:6em;}
.tg th{font-size:1.5em;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    border-color: #000;
    background-color:light-grey;
    overflow:hidden;
    word-break:normal;
    text-align: left;
    background-color: #000;
    color:#FFF;
}
.tg tr:nth-child(even) {background-color: #EEE}
.tg tr:nth-child(odd) {background-color: #FFF}

.round-button-circle {
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border:0px;
  overflow:hidden;
  margin:auto;
  background-color: #000;
  color: #fff;
}
.round-button-circle:hover, .round-button-circle:active {
  cursor: pointer;
}
.round-button-circle a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;

	text-align:center;
	color:#fff;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
}
.round-left {
    margin-left:0.5em;
    float:left;
}
.num-input {
    float: left;
    width: 3em;
    font-size: inherit;
    margin-top:0.15em;
    margin-left:0.2em;
}

#plus-amount {
    width: 3em;
    font-size: inherit;
}

.round-loading {
    background-color: transparent;
    background-image: url('ring.gif');
    background-position: center;
    background-size:cover;
}
.round-loading:hover {
    background-color: transparent;
    background-image: url('ring.gif');
    background-position: center;
    background-size:cover;
}
.round-loading:active {
    background-color: transparent;
    background-image: url('ring.gif');
    background-position: center;
    background-size:cover;
}
.round-loading a {
    color: #000;
}

.settings {
    padding: 2em;
}

div.settings input {
    font-size:1em;
}
#sparat-text {
    margin-left:1em;
    font-size:1em;
    font-weight:normal;
}

#comment {width:100%}

td.commentRow {
    font-weight: normal;
    text-align: left;
}
td.commentRow p {
    width:100%;
    font-size: inherit;
    font-weight: inherit;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
td.commentRow select {
    font-size: inherit;
    font-weight: inherit;
    width:5em;
}

.cross {
    margin-right: 0.5em;
    /* float: right; */
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.confirmBox {
    margin: auto;
    overflow: auto;
    padding-top: 0.5em;
    float: right;
}

.left-box-plus {
    float:left;
    width:60%;
    padding:0.5em;
}

.info {
    font-weight:normal;
    font-family:Consolas;
}

@media only screen and (max-width: 750px) {
    footer > ul > li:first-child {
    float: none;
}
    footer > ul > li:last-child {
    float:none;
}
}
@media only screen and (max-width: 750px) and (min-width: 560px) {
    footer{font-size:1.2em;}
}

@media only screen and (max-width: 560px) and (min-width: 480px) {
    .tg th{font-size:1.2em !important;}
    .tg td{font-size:1.2em !important;}
    nav{font-size:1.5em;}
    footer{font-size:1em;}
}

@media only screen and (max-width: 480px) and (min-width: 360px) {
    .tg th{font-size:1em !important;}
    .tg td{font-size:1em !important;}
    nav{font-size:1em;}
    footer{font-size:0.8em;}
    .table-button:nth-last-child(-n+2){display:none;}
}

@media only screen and (max-width: 360px) and (min-width: 300px){
    .tg th{font-size:1em !important;}
    .tg td{font-size:1em !important;}
    nav{font-size:1em;}
    footer{font-size:0.6em;}
    .table-button:nth-last-child(-n+3){display:none;}
}
@media only screen and (max-width: 300px) and (min-width: 260px){
    .tg th{font-size:1em !important;}
    .tg td{font-size:1em !important;}
    nav{font-size:0.8em;}
    footer{font-size:0.5em;}
    .table-button {display:none;}
}
@media only screen and (max-width: 260px) and (min-width: 0px){
    .tg th{font-size:1em !important;}
    .tg td{font-size:1em !important;}
    nav{font-size:0.8em;}
    footer{font-size:0.4em;}
    /*.tg tr td:last-child {
    min-width: unset;
    float: unset;
    }*/
    nav ul li {
    display: list-item;
    list-style-type: none;
    }
    body {font-size:0.8em;}
    .list {overflow:scroll;}
    .table-button {display:none;}

}
